layout {
    pane split_direction="vertical" {
        pane
    }

    pane size=1 borderless=true {
        plugin location="file:~/.config/zellij/zjstatus.wasm" {
            // https://github.com/dracula/tmux/blob/master/scripts/dracula.sh#L40
            color_dracula_white "#f8f8f2"
            color_dracula_gray "#44475a"
            color_dracula_dark_gray "#282a36"
            color_dracula_light_purple "#bd93f9"
            color_dracula_dark_purple "#6272a4"
            color_dracula_cyan "#8be9fd"
            color_dracula_green "#50fa7b"
            color_dracula_orange "#ffb86c"
            color_dracula_red "#ff5555"
            color_dracula_pink "#ff79c6"
            color_dracula_yellow "#f1fa8c"

            hide_frame_for_single_pane "true"

            format_left  "{mode}#[fg=$dracula_dark_gray,bg=$dracula_green,bold] {session}#[bg=$dracula_green] {tabs}"
            format_right "{datetime}"
            format_space "#[bg=$dracula_gray]"

            mode_default_to_mode "tmux"

            mode_normal        ""
            mode_locked        "#[bg=$dracula_red,fg=$dracula_gray,bold] LOCKED  #[bg=$bg,fg=$dracula_red]"
            mode_resize        "#[bg=$dracula_cyan,fg=$dracula_gray,bold] RESIZE #[bg=$bg,fg=$dracula_cyan]"
            mode_pane          "#[bg=$dracula_orange,fg=$dracula_gray,bold] PANE #[bg=$bg,fg=$dracula_orange]"
            mode_tab           "#[bg=$dracula_yellow,fg=$dracula_gray,bold] TAB #[bg=$bg,fg=$dracula_yellow]"
            mode_scroll        "#[bg=$dracula_pink,fg=$dracula_gray,bold] SCROLL #[bg=$bg,fg=$dracula_pink]"
            mode_enter_search  "#[bg=$dracula_orange,fg=$dracula_gray,bold] ENT-SEARCH #[bg=$bg,fg=$dracula_orange]"
            mode_search        "#[bg=$dracula_orange,fg=$dracula_gray,bold] SEARCHARCH #[bg=$bg,fg=$dracula_orange]"
            mode_rename_tab    "#[bg=$dracula_yellow,fg=$dracula_gray,bold] RENAME-TAB #[bg=$bg,fg=$dracula_yellow]"
            mode_rename_pane   "#[bg=$dracula_cyan,fg=$dracula_gray,bold] RENAME-PANE#[bg=$bg,fg=$dracula_cyan]"
            mode_session       "#[bg=$dracula_cyan,fg=$dracula_gray,bold] SESSION #[bg=$bg,fg=$dracula_cyan]"
            mode_move          "#[bg=$dracula_cyan,fg=$dracula_gray,bold] MOVE #[bg=$bg,fg=$dracula_cyan]"
            mode_prompt        "#[bg=$dracula_cyan,fg=$dracula_gray,bold] PROMPT #[bg=$bg,fg=$dracula_cyan]"
            mode_tmux          "#[bg=$dracula_light_purple,fg=$dracula_gray,bold] TMUX #[bg=$bg,fg=$dracula_light_purple]"

            tab_normal               "#[fg=$dracula_white,bg=$dracula_gray] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_active               "#[fg=$dracula_white,bg=$dracula_dark_purple] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_fullscreen_indicator "□ "
            tab_sync_indicator       "  "
            tab_floating_indicator   "󰉈 "

            datetime          "#[fg=$dracula_white,bg=$dracula_dark_purple] {format} "
            datetime_format   "%a, %b %d %H:%M %Z"
            datetime_timezone "America/Los_Angeles"
        }
    }
}
